body {
    margin:0;
    padding: 0;
    background: white;
}

/* MAIN CONTENT */

main {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
}

main.home {
    padding: 0;
}

.content {
    width: auto;
    height: auto;

    margin: 0;
    padding: 1rem 2rem;
}

.content .bg-image {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: white url("/media/images/glow-bg.JPG") no-repeat;
    background-size: 100vmax 100vmax;

    filter: blur(50px);

    z-index: -1;
}

.content .video {
    /* you can control the width here */
}

.content .video > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.content .video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

code {
    padding-left: 4px;
    padding-right :4px;

    color: crimson;
    background-color: #f1f1f1;

    font-family: Consolas,"courier new";
    font-size: 110%
}

.notice {
    width: auto;
    margin: 0;
    padding: 1rem 0.5rem;

    border-left: 8px solid red;
    background-color: rgb(250, 141, 152);
    color: white;

    text-align: center;
}

a {
    color: #00ccff;
    text-decoration: none;
}




/* small screens */
@media(min-width: 800px) {
    
    main {
        padding: 3% 10%;
    }

    main.home {
        padding: 0;
    }

}

/* large screens */
@media(min-width:1400px) { 

    main {
        padding: 3% 20%;
    }

    main.home {
        padding: 0;
    }

}