.content {
    padding: 0;
}

.project {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    padding: 0;
    
}

.project h2,
.project p {
    color: inherit;
    filter: brightness(0.3);
}

.project .button-container {
    display: flex;
    justify-content: center;
}

.project a.projectButton {
    background-color: inherit;

    margin: 1rem;
    padding: 8px;
    border: solid 1px;
    border-radius: 1rem;

    color: white;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.project a.projectButton:hover {
    border-width: 5px;
    padding: 4px;
}

.project .img-container {
    width: 100%;
    height: 50vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin: 1rem 0 0 0;

    position: relative;
}

@media(min-width: 500px) {

    .project {
      
    }

}