body {
    margin:0;
    padding: 0;
    background: white;
}

/* MAIN CONTENT */

canvas {
    margin-top: 100px;
}

main {
    width: 100%;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
}

main.home {
    padding: 0;
}

.content {
    width: auto;
    height: auto;

    margin: 0;
    padding: 1rem 2rem;
}

.notice {
    width: auto;
    margin: 0;
    padding: 1rem 0.5rem;

    border-left: 8px solid red;
    background-color: rgb(250, 141, 152);
    color: white;

    text-align: center;
}

a {
    color: #d3a21b;
    text-decoration: none;
}

a:hover {
    color: #795d10;
}

























/* small screens */
@media(min-width: 800px) {
    
    main {
        padding: 3% 10%;
    }

    main.home {
        padding: 0;
    }

}

/* large screens */
@media(min-width:1400px) { 

    main {
        padding: 3% 20%;
    }

    main.home {
        padding: 0;
    }

}