---
layout: default
home: "false"
---
<div class="content">

    {% assign sorted = site.data.resume-cv.projects | sort: 'priority' | reverse %}
    {% for item in sorted %}
        {% if item.tags contains 'home' %}
        <div class="old-project display-wide">
            <h2 style="height:180px;"><img class="profile-pic" style="vertical-align:middle; margin-right:20px;" src="{{ item.icon }}" />{{ item.title }}</h2>
            <p>{{ item.subtitle }}</p>
            <p>{{ item.description }}</p>
            <ul>
                {% for r in item.responsibilities %}
                <li>{{ r.description }}</li>
                {% endfor %}
            </ul>
            {% for gallary_image in item.gallary %}
            <img width="350px" src="{{ gallary_image }}"/>
            {% endfor %}
            <div class="button-container">
                {% for button in item.buttons %}
                <a class="projectButton" href="{{ button.url }}">{{ button.message }}</a>
                {% endfor %}
            </div>
            <div class="img-container" style='background-image: url("{{ item.image }}")'></div>
        </div>
        {% endif %}
    {% endfor %}

</div>

<link rel="stylesheet" type="text/css" href="css/projects.css">