---
layout: default
home: "true"
---
<div class="content resume">

   <!-- <a href="/media/documents/TechnicalResume.pdf">Boring resume</a> -->

   <!--<section>
        <h3>LANGUAGES</h3>
        <ul class="language-list">
            {% for language in site.data.languages %}
            <li class="language">{{ language }}</li>
            {% endfor %}
        </ul>
    </section>-->

   {% assign resume = site.data.resume-cv %}

   <section>
      <img class="profile-pic" src="media/images/profile_3.png" />
      <h1>{{ resume.profile.name }}</h1>
      <a href="/media/documents/KristianMischkeResume2025.pdf">[PDF Resume]</a>
      <p style="text-align: justify">{{resume.profile.tagline}}</p>
   </section>

   <section>
      <h3>Experience</h3>
      <ul class="job-list resume-list">
         {% for project in resume.work_experience %}
            {% if project.tags contains 'resume' %}
            <li>
               {% assign type = "job" %}
               {% include resume-project-template.html.liquid %}
            </li>
            {% endif %}
         {% endfor %}
      </ul>
   </section>

   <section>
      <h3>Education</h3>
      <ul class="education-list resume-list">
         {% for education in resume.education %}
         <li class="education">
            <div>
               <h4>{{ education.school }}</h4>
               <p>{{ education.degree }}</p>
               <p>{{ education.degree_p2 }}</p>
               <p>{{ education.degree_p3 }}</p>
               {% if education.gpa %}<p>{{ education.gpa }} GPA</p>{% endif %}
            </div>
            <div>
               <p>{{ education.place }}</p>
               <p>{{ education.end_time }}</p>
            </div>
         </li>
         {% endfor %}
      </ul>
   </section>

   <section>
      <h3>Projects</h3>
      <ul class="project-list resume-list">
         {% assign sorted = resume.projects | sort: 'priority' | reverse %}
         {% for project in sorted %}
            {% if project.tags contains 'resume' %}
            <li>
               {% assign type = "project" %}
               {% include resume-project-template.html.liquid %}
            </li>
            {% endif %}
         {% endfor %}
      </ul>
   </section>

   <section>
      <h3>Volunteer Work & Clubs</h3>
      <ul class="extra-activities-list resume-list">
         {% for project in resume.extra_curricular %}
            {% if project.tags contains 'resume' %}
            <li>
               {% assign type = "activity" %}
               {% include resume-project-template.html.liquid %}
            </li>
            {% endif %}
         {% endfor %}
      </ul>
   </section>

</div>

<link rel="stylesheet" type="text/css" href="css/projects.css">
