---
layout: default
home: "true"
---
<div class="content resume">

   <!-- <a href="/media/documents/TechnicalResume.pdf">Boring resume</a> -->

   <!--<section>
        <h3>LANGUAGES</h3>
        <ul class="language-list">
            {% for language in site.data.languages %}
            <li class="language">{{ language }}</li>
            {% endfor %}
        </ul>
    </section>-->

   <section>
      <img class="profile-pic" src="media/images/profile_2.jpeg" />
      <h1>Kristian Mischke</h1>
      <a href="/media/documents/KristianMischkeResume2021.pdf">[PDF Resume]</a>
      <p style="text-align: justify">Problem-solver and thinker with just over four years of experience in the industry. I enjoy
         video game development, and am passionate about education and (computational) linguistics.
      </p>
   </section>

   <section>
      <h3>Experience</h3>
      <ul class="job-list resume-list">
         {% for project in site.data.resume-cv.work-experience %}
            {% if project.tags contains 'resume' %}
            <li>
               {% assign type = "job" %}
               {% include resume-project-template.html %}
            </li>
            {% endif %}
         {% endfor %}
      </ul>
   </section>

   <section>
      <h3>Education</h3>
      <ul class="education-list resume-list">
         {% for education in site.data.resume-cv.education %}
         <li class="education">
            <div>
               <h4>{{ education.school }}</h4>
               <p>{{ education.degree }}</p>
               <p>{{ education.degree_p2 }}</p>
               <p>{{ education.degree_p3 }}</p>
               {% if education.gpa %}<p>{{ education.gpa }} GPA</p>{% endif %}
            </div>
            <div>
               <p>{{ education.place }}</p>
               <p>{{ education.end-time }}</p>
            </div>
         </li>
         {% endfor %}
      </ul>
   </section>

   <section>
      <h3>Projects</h3>
      <ul class="project-list resume-list">
         {% for project in site.data.resume-cv.projects %}
            {% if project.tags contains 'resume' %}
            <li>
               {% assign type = "project" %}
               {% include resume-project-template.html %}
            </li>
            {% endif %}
         {% endfor %}
      </ul>
   </section>

   <section>
      <h3>Volunteer Work & Clubs</h3>
      <ul class="extra-activities-list resume-list">
         {% for project in site.data.resume-cv.extra-curricular %}
            {% if project.tags contains 'resume' %}
            <li>
               {% assign type = "activity" %}
               {% include resume-project-template.html %}
            </li>
            {% endif %}
         {% endfor %}
      </ul>
   </section>

</div>

<link rel="stylesheet" type="text/css" href="css/projects.css">