---
layout: alternate
home: "false"
---
<div class="content">
    <div class="bg-image"></div>

    <h1>Welcome to the MS Scratch Class Final Projects</h1>
    <h4 style="color:grey">Crossroads Homeschool Co-Op 2017-2018</h4>

    <p>Scratch is a drag and drop programming language developed by MIT.</p>
    <p>Throughout the year, the students learned how to make creative interactive projects, including:</p>
    <ul>
        <li>An expression of what super power they would like to have</li>
        <li>A main menu for for a potential game</li>
        <li>Each of the students chose to create either Snake, War or Uno</li>
        <li>And their final projects are displayed further down on this page</li>
    </ul>

    <p>If you want to see their previous work, you can go <a href="https://scratch.mit.edu/studios/4266181/" target="_blank">here</a></p>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    

    {% assign sorted = site.student-projects | sort: 'author' %}

    <h2>Students</h2>
    {% for item in sorted %}
        <ul class="project display-wide">
            <li>
                {% if item.project-id != "" %}
                <a href="#{{item.project-id}}">{{ item.author }}</a>
                {% else %}
                {{item.author}}
                {% endif %}
            </li>
        </ul>
    {% endfor %}


    <h2>Tutors</h2>
    <ul>
        <li>Kristian Mischke - primary tutor</li>
        <li>Deborah Watson - holds down the fort</li>
    </ul>

    <br/><br/><br/>
    
    {% for item in sorted %}
        {% if item.project-id != "" %}
        <div>
            <a name="{{item.project-id}}">
                <h2 class="tooltip">
                    <a href="{{item.author-url}}" target="_blank">{{ item.author }}</a>
                    <span class="tooltiptext">Click to go to their scratch account</span>
                </h2>
            </a>
            <p>{{ item.title }}</p>
            <p>{{ item.description }}</p>
            <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/{{item.project-id}}/?autostart=false" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
    {% endfor %}

</div>