<div class="social">
    <ul>
        <li>
            <a href="https://www.youtube.com/channel/UC44hbuzQZteAb82_8QzfBvw" target="_blank">
                <img src="/media/images/youtube.svg" alt="YouTube">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/kristian-mischke/" target="_blank">
                <img src="/media/images/linkedin.svg" alt="LinkedIn">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/KK_Coder" target="_blank">
                <img src="/media/images/twitter.svg" alt="Twitter">
            </a>
        </li>
    </ul>
</div>
<div class="legal">
    {% if page.scratch %}
    <p>Scratch is a project of the Lifelong Kindergarten Group at the MIT Media Lab</p>
    {% endif %}
    <p>Proudly hosted by GitHub <a href="https://github.com/" target="_blank"><img src="/media/images/github.svg" align="center"></a></p>
</div>